@import '../../styles/variables.scss';

.wrapper {
  width: 90vw;
  margin: 0 auto;
  .about__heading {
    text-align: left;
    margin: 3vh 0;
  }
  .list {
    list-style-type: disc;
    .list__item {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .wrapper {
    font-size: $font-medium;
    width: 60vw;
  }
}
