@import '../variables.scss';

.footer {
  .footer__text {
    padding: 2vh 0;
    text-align: center;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 3840px) {
  .footer {
    .footer__text {
      padding: 2vh 0;
      text-align: center;
      font-size: $font-normal;
    }
  }
}
