@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.CTA {
  display: flex;
  padding: 50px 30px;
  flex-direction: column;
  width: 100%;
  background-color: transparentize($foundation, 0.6);

  &__content {
    color: $contrast;
    margin: 0 auto 4vh;
  }
  a {
    display: contents;
    .CTA__button {
      align-self: flex-end;
      width: 120px;
      font-weight: bold;
      color: $foundation;
      background-color: $primary;
    }
  }
}

@media only screen and (min-width: 768px) {
  .CTA {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .CTA {
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    @include secondaryShadow;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .CTA {
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    @include secondaryShadow;
  }
}

@media only screen and (min-width: 1921px) {
  .CTA {
    border-radius: 10px;
    width: 100%;
    font-size: $font-medium;
    margin: 0 auto;
    @include secondaryShadow;
    a {
      .CTA__button {
        width: 200px;
        padding: 15px;
        font-size: $font-medium;
      }
    }
  }
}
