@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.signupButton {
  font-weight: bold;
  background-color: $primary;
  color: $foundation;
  border: 2px solid $foundation;
  @include hoverable;
}
