@import '../../../styles/variables.scss';

.addQuizButton {
  width: 100%;
  align-self: flex-end;
  color: $secondary;
  border: 2px solid $secondary;
  font-weight: bold;
  &:focus,
  &:hover {
    border: 2px solid $primary;
    color: $primary;
  }
}
