@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.addQuestionButton {
  @include flexCenter;
  @include hoverable;
  align-self: flex-end;
  background-color: $primary;
  color: $foundation;
  width: 130px;
  font-size: $font-smallXL;
  .arrowCircleRightIcon {
    margin-left: 10px;
    font-size: $font-medium;
  }
}
