@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.errorMessage {
  font-size: $font-medium;
  text-align: center;
  margin: 4vh 0;
}

.quizResult {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  .quizResult__generalData {
    @include flexCenter;
    text-align: center;
    background: darken($foundation, 3);
    margin: 2vh 0 5vh;
    padding: 3vh;
    flex-direction: column;
    .result {
      font-size: $font-mediumXL;
    }
    .quizResult__link {
      display: block;
      text-align: center;
      text-decoration: underline;
      color: $primary;
      font-size: $font-smallXL;
      margin-top: 3vh;
    }
  }
  .quizResult__questionSolution {
    margin-top: 8vh;
    .question__content {
      font-size: $font-medium;
      margin: 2vh auto 4vh;
      text-align: center;
      width: 90%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .quizResult {
    width: 50%;
    .quizResult__questionSolution {
      .question__content {
        width: 70%;
        font-size: $font-normal;
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .quizResult {
    width: 40%;
    .quizResult__questionSolution {
      font-size: $font-medium;
      .question__content {
        font-size: $font-largeXL;
      }
    }
  }
}
