@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.errorMessage {
  font-size: $font-medium;
  text-align: center;
  margin: 4vh 0;
}

.quizResult {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  .quizResult__generalData {
    @include flexCenter;
    flex-direction: column;
    margin: 2vh 0 5vh;
    .result {
      font-size: $font-mediumXL;
    }
  }
  .quizResult__link {
    text-align: center;
    text-decoration: underline;
    color: $secondary;
    font-size: $font-smallXL;
    display: block;
  }
  .quizResult__questionSolution {
    margin-top: 8vh;
    .question__content {
      font-size: $font-medium;
      margin: 2vh auto 4vh;
      font-weight: normal;
      width: 90%;
      &::before {
        position: absolute;
        content: attr(data-questionid);
        top: -35px;
        left: -5px;
        display: block;
        z-index: -1;
        font-size: $font-huge;
        color: transparentize($secondary, 0.7);
      }
    }
    .answer__content {
      margin-bottom: 2vh;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .quizResult {
    width: 50%;
    .quizResult__questionSolution {
      .question__content {
        width: 50%;
        font-size: $font-normal;
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .quizResult {
    width: 40%;
    .quizResult__questionSolution {
      font-size: $font-medium;
      .question__content {
        font-size: $font-largeXL;
      }
    }
  }
}
