@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.fileInputWrapper {
  display: flex;
  .fileInput__label {
    margin-right: 15px;
    display: block;
    background: $primary;
    color: $foundation;
    @include hoverable;
    .fileInput {
      display: none;
    }
  }
}
