@import '../../../styles/variables.scss';

.defaultAvatarButton {
  background-color: $foundation;
  color: $primary;
  margin-left: 10px;
  &:hover {
    background: darken($foundation, 3);
    transition: background 0.4s;
  }
}
