@import '../../styles/mixins.scss';

.nav {
  .nav__header {
    margin-bottom: 2vh;
  }
  margin: 5vh auto 0;
}
.searchBarWrapper {
  margin: 5vh auto 10vh;
}
.dashboardHeader {
  margin: 5vh auto;
}
.quizCard {
  margin-bottom: 10vh;
}

@media only screen and (min-width: 768px) {
  .searchBarWrapper {
    width: 25%;
    margin-left: 5%;
  }
  .dashboardHeader {
    width: min-content;
    margin: 5vh 0 2vh 5%;
    justify-content: space-between;
    padding: 0;
    &__title {
      margin-right: 2vw;
    }
  }
  .quizzesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 999px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 1367px) {
  .searchBarWrapper {
    width: 30%;
    margin-left: 5%;
  }
}
