@import '../../../../styles/variables.scss';

.answerView {
  cursor: default;
  &--checked,
  &:focus {
    border-bottom: 4px solid lighten($contrast, 60);
  }
}

.correct {
  background-color: $valid;
  border-bottom: 4px solid lighten($valid, 20);
}

.incorrect {
  background-color: $invalid;
  border-bottom: 4px solid lighten($invalid, 20);
}
