@import '../../../styles/variables.scss';

.greeting {
  margin: 5vh 0;
  font-size: $font-medium;
  font-weight: normal;
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .greeting {
    font-size: $font-mediumXL;
  }
}
