@import '../../../styles/variables.scss';

.label {
  width: 100%;
  .input {
    width: 100%;
    padding: 8px 5px;
    border-radius: $border-small;
    outline: none;
    font-size: $font-small;
    background-color: lighten($foundation, 2);
    border: 1px solid $contrast;
    &:focus,
    &:active {
      border: 2px solid $primary;
    }
  }
}
