@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.nav {
  width: 90%;
  .nav__header {
    @include flexCenter;
    justify-content: flex-start;
    padding: 10px 0 15px;
    .chevronIcon {
      margin-left: 5px;
    }
  }
  .nav__list {
    .nav__item {
      padding: 5px 0 10px 5px;
    }
  }
}
