@import '../../variables.scss';

.button {
  font-family: 'Poppins', sans-serif;
  font-size: $font-small;
  text-align: center;
  width: 150px;
  border-radius: $border-medium;
  padding: 7px 5px;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 1921px) and (max-width: 3840px) {
  .button {
    font-size: $font-normal;
  }
}
