@import '../../variables.scss';
@import '../../mixins.scss';

.form__wrapper {
  @include flexCenter;
  padding: 10vh 0;
  .form {
    @include flexCenter;
    @include primaryShadow;
    background-color: darken($foundation, 5);
    flex-direction: column;
    width: 90vw;
    padding: 7vh 5vw;
    .form__inputValidation {
      margin-bottom: 3vh;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .form__wrapper {
    .form {
      width: 45vw;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .form__wrapper {
    .form {
      width: 35vw;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .form__wrapper {
    .form {
      font-size: $font-medium;
      width: 35vw;
      .form__header {
        font-size: $font-large;
      }
      .fileInputWrapper {
        .button {
          width: 200px;
          padding: 17px 6px;
        }
      }
    }
  }
}
