.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    padding: 1vh 0 0 2vw;
  }
}

@media only screen and (min-width: 3840px) {
  .header {
    height: 10vh;
    .header__logo {
      width: 8vw;
    }
  }
}
