.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    padding: 1vh 0 0 2vw;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .header {
    .header__logo {
      width: 10vw;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .header {
    .header__logo {
      width: 10vw;
    }
  }
}
