@import '../../../styles/variables.scss';

.answer__content {
  cursor: pointer;
  width: 100%;
  font-size: $font-normal;
  margin-bottom: 3vh;
  color: $contrast;
  border-bottom: 4px solid $contrast;
  background-color: darken($foundation, 4);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  &--checked {
    color: $secondary;
    border-bottom: 4px solid $secondary;
  }
}
