@import '../../../styles/mixins.scss';

.header {
  width: 100vw;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $foundation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
  .header__logo {
    width: 100px;
    padding: 1vh 0 0 3vw;
  }
  .header__actionButtons {
    display: flex;
    align-items: center;
    height: 8vh;
    align-self: flex-end;
  }
  .logoutButton {
    width: 100px;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    @include flexCenter;
    justify-content: space-between;
    .header__logo {
      width: 10vw;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .header {
    @include flexCenter;
    justify-content: space-between;
    .header__logo {
      width: 10vw;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .header {
    .header__logo {
      width: 11vw;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .header {
    .header__logo {
      width: 10vw;
    }
  }
}
