@import '../../../styles/mixins.scss';

.header__button {
  color: $primary;
  font-weight: bold;
}

.header {
  width: 100vw;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $foundation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  .header__actionButtons {
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-around;
    width: 50%;
    align-self: flex-end;
  }
  .logoutButton {
    width: 100px;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    @include flexCenter;
    justify-content: space-between;
    .header__actionButtons {
      margin-right: 3vw;
      width: 20%;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .header {
    @include flexCenter;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1921px) {
  .header__button {
    font-size: $font-medium;
  }
}
