@import './variables.scss';
@import './mixins.scss';
@import './global/Components/Link.scss';

:root {
  font-size: 62.5%;
}

::selection,
::selection {
  background-color: $contrast;
  color: $foundation;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: $foundation;
  color: $contrast;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: normal;
}

.app {
  font-size: $font-small;
}

*:focus {
  outline: none;
  border-bottom: 4px solid darken($secondary, 20);
  border-width: 100;
  transition: border-bottom 0.2s;
}

ul {
  list-style-type: none;
}

input[type],
select,
textarea {
  color: $contrast;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  :root {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1921px) {
  :root {
    font-size: 80%;
  }
}
