// colors

$foundation: rgb(242, 242, 242);
$contrast: rgb(37, 37, 37);
$primary: rgb(227, 104, 217);
$secondary: rgb(113, 27, 173);
$invalid: rgb(202, 73, 73);
$valid: rgb(45, 156, 45);

// font sizes

$font-hugeXXL: 9.5rem;

$font-hugeXL: 6.5rem;
$font-huge: 5.5rem;
$font-extraLarge: 4.5rem;
$font-largeXXL: 3.5rem;
$font-largeXL: 3.2rem;
$font-large: 3rem;

$font-mediumXXL: 2.7rem;
$font-mediumXL: 2.5rem;
$font-medium: 2.2rem;

$font-normal: 2rem;

$font-smallXL: 1.8rem;
$font-small: 1.6rem;

$font-miniXL: 1.3rem;

$letter-spacing-small: 0.1rem;
