@import '../../../styles/mixins.scss';

.changeAvatarButton__wrapper {
  @include flexCenter;
  background-color: transparent;
  color: $contrast;
  cursor: pointer;
  .changeAvatarButton {
    margin: 0 5px;
  }
  .changeAvatarButton__icon {
    @include flexCenter;
  }
}
