@import '../../../styles/mixins.scss';

.changeAvatarButton__wrapper {
  @include flexCenter;
  margin-top: 5px;
  cursor: pointer;
  .changeAvatarButton {
    margin: 0 5px;
  }
  .changeAvatarButton__icon {
    @include flexCenter;
  }
}
