@import '../../../styles/mixins.scss';

.deleteButton {
  @include flexCenter;
  justify-content: space-around;
  background-color: transparent;
  width: 100px;
  padding: 0;
  color: $contrast;
  cursor: pointer;
}

@media only screen and (min-width: 1920px) {
  .deleteButton {
    font-size: 1.7rem;
    width: 100px;
  }
}
