@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.rankingList__item {
  @include flexCenter;
  align-self: flex-start;
  margin-bottom: 3vh;
  .item__data--authUser {
    color: $secondary;
    font-weight: bold;
  }
  .data__avatar {
    @include avatar(30px);
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .rankingList__item {
    margin-bottom: 4vh;
  }
}
