@import '../../../../styles/variables.scss';

.quizButton {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  font-weight: bold;
  color: $contrast;
  background: transparent;
  &:hover {
    background-color: lighten($foundation, 5);
    transition: background 0.4s ease;
  }
  &:focus {
    background-color: lighten($secondary, 5);
    color: $foundation;
    transition: background 0.4s color 0.4s ease;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 3840px) {
  .quizButton {
    width: 130px;
  }
}
