@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

a {
  display: contents;
  .quizCard__button {
    width: 30%;
    margin-right: 10%;
    @include hoverable;
    &:focus {
      background-color: $primary;
      color: $foundation;
      border-bottom: 4px solid $secondary;
      transition: border-bottom 0.2s;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1599px) {
  a {
    .quizCard__button {
      width: 15%;
    }
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  a {
    .quizCard__button {
      width: 20%;
    }
  }
}

@media only screen and (min-width: 1921px) {
  a {
    .quizCard__button {
      width: 20%;
    }
  }
}
