@import '../../../styles/variables.scss';

.header__button {
  color: $primary;
  font-weight: bold;
  margin-right: 5vw;
}

@media only screen and (min-width: 1921px) {
  .header__button {
    font-size: $font-large;
  }
}
