@import '../../../styles/variables.scss';

.photoPreview {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid transparentize($contrast, 0.3);
  border-radius: 50%;
  &::before {
    content: 'PREVIEW';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    text-align: center;
  }
  .photoPreview__image {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 3840px) {
  .photoPreview {
    &::before {
      bottom: -60px;
      font-size: $font-smallXL;
    }
  }
}
