@import '../../../styles/variables.scss';

.slider {
  width: 70vw;
  overflow-x: hidden;
  margin: 0 auto;
  &__imageSection {
    display: flex;
    .slider__image {
      object-fit: cover;
      margin-right: 10vw;
    }
    &__slide {
      transform: translateX(200px);
    }
  }
  &__switchSection {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    .accessibleWrapper {
      margin-right: 5vw;
      &:last-child {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .slider {
    width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .slider {
    width: 80%;
    &__imageSection {
      .slider__image {
        width: 15vw;
        height: 55vh;
        margin-right: 6vw;
      }
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .slider {
    width: 85%;
    &__imageSection {
      .slider__image {
        width: 12vw;
        height: 45vh;
        margin-right: 6vw;
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .slider {
    width: 85%;
    &__imageSection {
      .slider__image {
        width: 10vw;
        height: 40vh;
        margin-right: 5vw;
      }
    }
    &__switchSection {
      .dot {
        width: 30px;
        height: 30px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
