@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.dashboardHeader {
  @include flexCenter;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  &__title {
    font-size: $font-medium;
  }
  a {
    @include flexCenter;
    .plusIcon {
      margin-left: 10px;
      cursor: pointer;
      font-size: $font-largeXXL;
      color: $primary;
    }
  }
}
