@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.dashboardHeader {
  @include flexCenter;
  justify-content: space-between;
  padding: 0 5vw;
  &__title {
    font-size: $font-medium;
  }
  .plusIcon {
    cursor: pointer;
    font-size: $font-largeXXL;
    color: $primary;
  }
}
