@import '../../../../styles/variables.scss';

.commentForm__button {
  width: 120px;
  padding: 6px;
  background-color: $primary;
  color: $foundation;
  margin: 1vh 0;
  &:hover,
  &:focus {
    background-color: $secondary;
    transition: background 0.4s ease-in;
  }
}
