@import '../../../styles/variables.scss';

.userData__stats {
  width: 45%;
  margin-left: 10px;
}

@media only screen and (min-width: 1367px) {
  .userData__stats {
    font-size: $font-smallXL;
  }
}
