@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.splashScreen__wrapper {
  color: $contrast;
  display: flex;
  flex-direction: column;
  .splashScreen__firstPart {
    margin-top: 5vh;
    .description {
      margin: 10vh 0 5vh;
    }
    .hero {
      margin: 5vh auto 10vh;
    }
  }
  .splashScreen__secondPart {
    display: flex;
    flex-direction: column;
    .CTA {
      margin-bottom: 10vh;
    }
    .slider {
      margin-bottom: 10vh;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .splashScreen__wrapper {
    padding: 0 8vw 10vh;
    flex-direction: row;
    .splashScreen__firstPart,
    .splashScreen__secondPart {
      height: 145vh;
      width: 40%;
    }
    .splashScreen__firstPart {
      margin-right: 15vw;
    }
    .splashScreen__secondPart {
      flex-direction: column-reverse;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .splashScreen__wrapper {
    padding: 0 10vw 10vh 15vw;
    flex-direction: row;
    .splashScreen__firstPart,
    .splashScreen__secondPart {
      height: 135vh;
      width: 40%;
    }
    .splashScreen__firstPart {
      margin-right: 10vw;
    }
    .splashScreen__secondPart {
      flex-direction: column-reverse;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .splashScreen__wrapper {
    padding: 0 10vw 10vh 15vw;
    flex-direction: row;
    .splashScreen__firstPart,
    .splashScreen__secondPart {
      height: 120vh;
      width: 40%;
    }
    .splashScreen__firstPart {
      margin-right: 10vw;
    }
    .splashScreen__secondPart {
      flex-direction: column-reverse;
    }
  }
}
