@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.avatarPreview {
  position: relative;
  @include avatar(200px);
  border: 2px solid transparentize($contrast, 0.3);
  &::before {
    content: 'PREVIEW';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    text-align: center;
  }
  .avatarPreview__image {
    object-fit: cover;
    @include avatar(100%);
  }
}

@media only screen and (min-width: 1921px) and (max-width: 3840px) {
  .avatarPreview {
    &::before {
      bottom: -60px;
      font-size: $font-smallXL;
    }
  }
}
