@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.errorPage {
  @include flexCenter;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  &__message {
    font-size: $font-medium;
  }
  .link {
    font-size: $font-smallXL;
  }
}

@media only screen and (min-width: 1921px) {
  .errorPage {
    &__message {
      font-size: $font-largeXL;
    }
  }
}
