@import '../../styles/mixins.scss';

.quiz {
  width: 90%;
  margin: 0 auto;
  .sectionHeader {
    margin-top: 3vh;
  }
  .quiz__questionsView {
    .question__content {
      z-index: 0;
      width: 90%;
      margin: 6vh auto;
    }
  }
  .switchDots {
    margin: 5vh 0;
    @include flexCenter;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .gameNavigationButtons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10vh;
    .gameNavigation__left,
    .gameNavigation__right {
      width: 45%;
      .button {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .quiz {
    width: 70%;
    .gameNavigationButtons {
      .gameNavigation__left,
      .gameNavigation__right {
        width: 35%;
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  .quiz {
    margin-top: 15vh;
    width: 50%;

    .gameNavigationButtons {
      width: 80%;
      margin: 0 auto 10vh;
      .gameNavigation__left,
      .gameNavigation__right {
        width: 35%;
        .button {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1921px) {
  .quiz {
    width: 35%;
    margin-top: 10vh;
    font-size: $font-medium;
    .gameNavigationButtons {
      width: 80%;
      .gameNavigation__left,
      .gameNavigation__right {
        width: 30%;
      }
    }
  }
}
