@import '../../styles/mixins.scss';

.quiz {
  width: 90%;
  margin: 0 auto;
  .sectionHeader {
    margin-top: 3vh;
  }
  .quiz__questionsView {
    .question__content {
      z-index: 0;
      width: 90%;
      margin: 6vh auto;
    }
    .question__answers {
      .answer__content {
        margin-bottom: 2vh;
      }
    }
  }
  .switchDots {
    margin: 5vh 0;
    @include flexCenter;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.gameNavigationButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  .button {
    @include flexCenter;
    width: 90%;
  }
  .gameNavigation__left,
  .gameNavigation__right {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  .quiz {
    margin-top: 15vh;
    width: 50%;
    .quiz__questionsView {
      .question__content {
        width: 50%;
        font-size: $font-smallXL;
      }
    }
  }
  .gameNavigationButtons {
    width: 50%;
    margin: 0 auto 10vh;
    .button {
      @include flexCenter;
      width: 90%;
    }
    .gameNavigation__left,
    .gameNavigation__right {
      width: 30%;
    }
  }
}
@media only screen and (min-width: 1921px) {
  .quiz {
    font-size: $font-medium;
    margin-top: 10vh;
    width: 35%;
    .quiz__questionsView {
      .question__content {
        width: 50%;
        font-size: $font-mediumXL;
      }
    }
  }
  .gameNavigationButtons {
    width: 35%;
    margin: 0 auto 10vh;
    .button {
      @include flexCenter;
      width: 90%;
    }
    .gameNavigation__left,
    .gameNavigation__right {
      width: 30%;
    }
  }
}
