.form__wrapper {
  .form {
    .filenameLabel {
      margin-bottom: 1vh;
    }
    .photoPreview {
      margin-bottom: 8vh;
    }
    .signupButton {
      margin-top: 7vh;
      align-self: flex-end;
    }
    .errorMessage,
    .resultMessage {
      margin-top: 2vh;
    }
  }
}
