.form__wrapper {
  .form {
    .avatarPreview {
      margin-bottom: 8vh;
    }
    .signupButton {
      margin-top: 7vh;
      align-self: flex-end;
    }
    .errorMessage,
    .resultMessage {
      margin-top: 2vh;
    }
  }
}
