@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.finishQuizButton {
  border-radius: $border-medium;
  background-color: $primary;
  color: $foundation;
  font-size: $font-smallXL;
  .finishQuizIcon {
    margin-left: 10px;
    font-size: $font-normal;
  }
}
