@import '../../../styles/variables.scss';

.previousQuestionButton {
  margin-left: 10%;
  background-color: $foundation;
  color: lighten($contrast, 40);
  .arrowLeftIcon {
    margin-right: 10px;
  }
}
