@import '../../../styles/variables.scss';

.previousQuestionButton {
  border-radius: $border-medium;
  background-color: lighten($foundation, 3);
  color: lighten($contrast, 40);
  .arrowLeftIcon {
    margin-right: 10px;
  }
}
