@import '../../mixins.scss';
@import '../../variables.scss';

.dashboardHeader {
  @include flexCenter;
  justify-content: space-between;
  padding: 0 5vw;
  .dashboardHeader__title {
    font-size: $font-medium;
  }
  .plusIcon {
    font-size: $font-largeXXL;
    color: $primary;
  }
}
