@import '../../../styles/variables.scss';

.searchBarWrapper {
  width: 90%;
  .label {
    position: relative;
    margin: auto 0;
    .input {
      font-family: 'Poppins', sans-serif;
    }
    .searchIcon {
      color: $contrast;
      height: 100%;
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .searchBarWrapper {
    .label {
      .input {
        width: 80%;
      }
    }
  }
}
