@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.loader {
  @include flexCenter;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  &__timeImage {
    width: 90vw;
    margin: 0 auto;
  }
  &__message {
    margin-bottom: 2vh;
    color: $primary;
    font-size: $font-medium;
  }
  &__tip {
    margin-bottom: 8vh;
    font-size: $font-normal;
  }
  &__message,
  &__tip {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .loader {
    &__timeImage {
      width: 20vw;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .loader {
    &__timeImage {
      width: 30vw;
    }
  }
}
