@import '../../variables.scss';

.question__answer {
  width: 100%;
  border-bottom: 4px solid lighten($contrast, 60);
  background-color: lighten($contrast, 78);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  &--checked {
    color: $secondary;
    border-bottom: 4px solid $secondary;
  }
}
